h5{
    color: black

}
.carucel{

    height: 300px;

}
 
.o{
    background-color:  #cc9900;
    text-align: center;
    
    
}
.fondo{
background-image: url(https://ae01.alicdn.com/kf/H3dc5b32930fc43bbb5d42278e3a840e5U/Tienda-de-ropa-para-ni-os-fondos-de-fotograf-a-vinilo-Ins-reci-n-nacido-video.jpg_q50.jpg);
}
